body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.players {
    display: flex;
    margin-bottom: 32px;
    font-size: 32px;
}

.players div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.players img {
    height: 60px;
    width: 60px;
    margin-left: 16px;
    margin-right: 16px;
}

.playerInactive {
    opacity: 0.5;
}

.horizontal-line {
    position: absolute;
    width: 350px;
    height: 10px;
    background-color: rgba(0,0,0,0.5);
    transform: scaleX(0);
    transition: transform 225ms ease-in-out;
}

.make-vertical {
    transform: rotate(90deg) scaleX(0);
}

.lineOver {
    position: relative;
}

.gameOver {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 70%;
    object-fit: contain;
    z-index: 22;
    animation: zoomIn 225ms ease-in-out;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);

    }
}

tr {
    width: 399px;
}

td {
    position: relative;
    width: 133px;
    height: 133px;
    border: 5px solid black;
    cursor: pointer;
}

td:hover {
    background-color: rgba(20, 20, 20, 0.1);
}

tr:first-child td {
    border-top: 0;
}

tr:last-child td {
    border-bottom: 0;
}

tr td:first-child {
    border-left: 0;
}

tr td:last-child {
    border-right: 0;
}

table {
    border-collapse: collapse;
    position: relative;
}

.shape {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 26px;
    left: 26px;
}

.d-none {
    display: none;
}